:root{
    --cor-cabecalho: deepskyblue;
    --texto-cabecalho: rgb(24, 21, 90);
    --banner-cor: darkslateblue;
    --cor-back:white ;
    --cor-artigo: white;
    --texto-artigo: Black;
    --bottom-color: rgb(250, 250, 250);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: var(--cor-cabecalho);
}

.container-cabecalho{ 
    background-color: var(--cor-back);
    display: flex;
    justify-content: center;
    font-family: "montserrat";
    align-items: center;
   
}
.name img{
    position: absolute;
    left: 7%;
    top: 1.5%;
    width: 100px;
    min-height: auto;
    

}
.logo img{
    position: absolute;
    left: 1%;
    top: -0.5%;
    width: 50px;
    min-height: auto;
    
}

.navigation{
    display: flex;
    flex-direction: row !important;
    gap: 20px;

    padding: 7px;
}
.navigation, a{
    list-style: none;
    text-decoration: none;
    color: var(--texto-cabecalho) 
}
.navigation a :hover{
    list-style: none;
    text-decoration: none;
    pointer-events: none;
    color: aquamarine;
}

.content-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}
.artigo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    flex: 1;
    min-width: 100px;
    font-size: 1.2rem;
    background-color: var(--cor-artigo);
    border-radius: 10px;
}
.artigo p{
    color: var(--texto-artigo);
    font-family: "Montserrat", sans-serif;
}
.servico{
    display: flex;
    justify-content:center ;
    position: relative;
    align-items: center;
    flex-direction: column;
    column-gap: 100px;
}
.servico h1{
    display: flex;
    
    align-items: center;
    text-align: center;
}
.servico a{
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    color: var(--texto-cabecalho);
    border-radius: 10px ;
    padding: 5px;
    margin: 10px;
    background-color: var(--bottom-color);
}
.servico img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: auto;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: var(--banner-cor);
}

@media(max-width: 400px){
    .navigation{
        justify-content: center;
    }
}

